@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@500&display=swap');
@font-face {
    font-family: coreMellow;
    src: url(./Assets/CoreMellow.otf);
    font-weight: bold;
}

h1 {
    font-family: 'coreMellow';
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #FF5564;
    height: 50px;
    filter: blur(10px);
}